img{
    height: 3rem;
}

h1{
    padding-left: 1.5rem;
    color: #ffffff;
    font-size: 33px;

}

span{
    display: flex;
}

.header{
    justify-content: center;
    height: 10%;
   background: #20B2AA;
}