img{
    height: 5rem;
}

h1{
    padding-left: 1.5rem;
    color: #B0E0E6;
    font-size: 46px;

}

span{
    display: flex;
}

.header{
    justify-content: center;
    height: 15%;
    background-color: black;
}