<form>
    <h1>CRIANDO NOVO LIVRO</h1>

    <mat-form-field class="form">
        <mat-label>Title</mat-label>
        <input matInput  type="text" name="title" placeholder="Ex. Crespusculo" maxlength="100">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Author </mat-label>
        <input matInput  type="text" name="author" placeholder="Ex. Michelle Santana" maxlength="100">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Text </mat-label>
        <textarea matInput  type="text" name="text" placeholder="Ex. lorem ipsum lorem ipsum" maxlength="2000000"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button  class="mat-elevation-z8" mat-stroked-button color="primary"> CRIAR </button>
        <button  class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
    </div>

</form>